@import '../../styles/variables';

.search-component {
  border-bottom: 1px solid $color-light;
  padding-top: $spacing-reg;
  padding-bottom: $spacing-reg;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header img {
  width: 100%;
}